<div class="container">
  <ul>
    <li><h2>Busca de filmes em TMDB API</h2></li>
    <li><input type="text" class="form-control input-sm" maxlength="64" placeholder="Nome do Filme" [(ngModel)]=nomeFilme/></li>
    <li><button type="submit" class="btn-primary btn-sm" (click)=buscarFilme()>Pesquisar Filme</button></li>
  </ul>          

  <div *ngIf="undefined === restItems">
    <span>Faça uma consulta...</span>
  </div>
  <div *ngIf="undefined !== restItems">
    <!--Exibição dos dados dos filmes encontrados em busca-->
    <div class="container">
      <div *ngFor="let filme of restItems['results']">     
          <div class="movie-card">

                <div class="movie-header">
                  <img src="{{ getImage(filme.poster_path) }}" class="card-img-cover thumbnail">
                </div><!--poster do filme-->

                <div class="movie-content">
                  <div class="movie-content-header">
                    <a href="#">
                      <h3 class="movie-title" [innerHTML]="filme.title"></h3>
                    </a>

                  </div>
                  <div class="movie-info">
                    <div class="info-section">
                      <label> Data de Lançamento</label>
                      <span [innerHTML]="filme.release_date"></span>
                    </div>

                    <div class="info-section">
                      <label>Idioma</label>
                      <span [innerHTML]="filme.original_language"></span>
                    </div><!--Lingua original-->

                    <div class="info-section">
                      <label>Nota</label>
                      <span [innerHTML]="filme.vote_average"></span>
                    </div><!--Nota geral-->

                    <div class="info-section">
                      <label>Votos</label>
                      <span [innerHTML]="filme.vote_count"></span>
                    </div><!--numero de votos-->

                  </div><!--info-básica-->

                  <div class="movie-info">
                      <span [innerHTML]="filme.overview"></span>
                  </div><!--Sinopse-->

                </div><!--conteudo dos filmes-->

          </div><!--movie-card-->       
      </div>
    </div>
  </div>
</div>

<!--

#EXEMPLO DE RETORNO DOS DADOS PELA API TMDB

  adult:false
  backdrop_path:"/rRTMdhZ7kxMdJIqykz0t4p0HABA.jpg"
  genre_ids:(3) [878, 28, 12]
  id:97
  original_language:"en"
  original_title:"Tron"
  overview:"As Kevin Flynn searches for proof that he invented a hit video game, he is "digitalized" by a laser and finds himself inside The Grid, where programs suffer under the tyrannical rule of the Master Control Program. With the help of TRON, a security program, Flynn seeks to free The Grid from the MCP."
  popularity:10.119646
  poster_path:"/cTF8lpXvAwT1SLH9kVFZZl0AO0D.jpg"
  release_date:"1982-07-09"
  title:"Tron"
  video:false
  vote_average:6.6
  vote_count:891

-->
